<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Wild Series{% endblock %}</title>
        <link rel="stylesheet" href="build/app.css">
        <link rel="stylesheet" href="https://use.typekit.net/xdq8cqe.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
        {% block navbar %}
            <header>{% include 'navbar.html.twig' %}</header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
